{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title %}

{% block content %}
Welcone to TweetMe2

<div id='tweets'>
    Replace Me
</div>


<script>
    // loading dynamically tweets from localhost:8000/tweets using javascript
    // get and html element and set html element
    const tweetsElement = document.getElementById("tweets")  //$("tweets") inn jquery
    tweetsElement.innerHTML = 'Loading...'   // while loadin content we are setting it as loading

    // var el1 = "<h1>Hie there 1</h1>"
    // var el2 = "<h1>Hie there 2</h1>"
    // var el3 = "<h1>Hie there 3</h1>"
    // tweetsElement.innerHTML = el1 + el2 + el3

    const xhr = new XMLHttpRequest()
    const method = "GET" // "POST"
    const url = "/tweets"
    const responseType = "json"

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id +"'><p>" + tweet.content + "</p></div>"
        return formattedTweet
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;

        for (i=0;i<listedItems.length;i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr

        // console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content %}
